@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
  }

  
